@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alkatra:wght@400;500;600&family=Bree+Serif&family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=Dancing+Script:wght@400;500;600;700&family=Kaushan+Script&family=Marck+Script&family=Noto+Serif+Devanagari:wght@300;400;500;600;700&family=Noto+Serif:ital,wght@0,700;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,600&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Righteous&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Tilt+Neon&family=Vidaloka&display=swap');

.subTitle-text {
    color      : #f48a04;
    font-size  : 2vw;
    font-weight: 600;
    font-family: 'Vidaloka', serif;

}