.modal{
    
    position: fixed;
    inset: 0;
    background-color: rgba(49,49,49,0.8);
    z-index: 100;
}

.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal-close{
   font-size: 40px;
   position: absolute;
   top: 40px;
   right: 40px;
    color: lightgray;
    cursor: pointer;
}